.mep{
border:0px solid red;
border-spacing:0px
}
.mep .meptabs td {
vertical-align:top;
padding-bottom:10px;
padding:4px;

}
.mep .meptabs td:first-child{
border-right:1px solid #c0c0c0;
color:grey;text-align:right;font-weight:500;opacity:0.5;padding:4px;
}
.mep .namephoto{
height:40px;
margin-left:5px;
}
.mep .avatar{
display:inline-block;
margin:2px;
}

.timeline{
width:500px;
overflow:auto;
}


    .match,
    .textdiff span {
      color: gray;
    }

    .ins,
    ins {
      color: black;
      background: #bbffbb;
    }

    .del,
    del {
      color: black;
      background: #ffbbbb;
    }

    .noselect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
