
.icon{
width:28px;
height:28px;
display:inline-block;
background-size: contain;
}
.icon.pdf{
background-image:url('icons/pdf.png')
}
.icon.doc{
background-image:url('icons/doc.png')
}

.day{
position:absolute;
border:1px solid lightgrey;
width:20px;
text-align:center;
font-size:10px;
padding-top:4px;
padding-bottom:4px;
cursor:pointer;
}
.day:hover{
border-color:black;
}
.free{
background-color:#efefef;
}
.today{
background-color:yellow;
}
.activity{
background-color:lightgreen;
}
.CRE{
background-color:red;
}

.REPORT{
background-color:pink;
}

.COMPARL{
background-color:lime;
}

.MOTION{
background-color:cyan;
}


.QP{
background-color:green;
}

.COMPARL-SHADOW{
background-color:lightblue;
}
.REPORT-SHADOW{
background-color:orange;
}
.WDECL{
background-color:brown;
}

